<main style="display: flex; flex-direction: column; gap: 20px">
  <section>
    <h1>New Product</h1>
    <form style="display: flex; flex-direction: column; gap: 20px" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-control-container">
        <label for="name">Name</label>
        <input class="form-control" type="text" formControlName="name" id="name">
        <p-message *ngIf="productForm.get('name')?.touched&&productForm.get('name')!.hasError('required')" severity="error" text="Name is required."></p-message>
        <p-message *ngIf="productForm.get('name')!.hasError('minlength')" severity="error" text="Name must have at least 2 characters."></p-message>
        <p-message *ngIf="productForm.get('name')!.hasError('maxlength')" severity="error" text="Name must have a maximum of 50 characters."></p-message>
      </div>
      <div class="form-control-container">
        <label for="category">Category</label>
        <input class="form-control" type="text" formControlName="category" id="category">
        <p-message *ngIf="productForm.get('category')?.touched&&productForm.get('category')!.hasError('required')" severity="error" text="Category is required."></p-message>
        <p-message *ngIf="productForm.get('category')!.hasError('minlength')" severity="error" text="Category must have at least 2 characters."></p-message>
        <p-message *ngIf="productForm.get('category')!.hasError('maxlength')" severity="error" text="Category must have a maximum of 50 characters."></p-message>
      </div>
      <div class="form-control-container">
        <label for="price">Price</label>
        <input class="form-control  " type="number" formControlName="price" id="price">
        <p-message *ngIf="productForm.get('price')?.touched&&productForm.get('price')!.hasError('required')" severity="error" text="Price is required."></p-message>
        <p-message *ngIf="productForm.get('price')?.touched&&productForm.get('price')!.hasError('priceIsZero')" severity="error" text="Price can't be equal to zero."></p-message>
      </div>
      <div class="form-control-container">
        <label for="dateOfFabrication">Date of Fabrication</label>
        <input class="form-control w-25" type="date" formControlName="dateOfFabrication" id="dateOfFabrication">
        <p-message *ngIf="productForm.get('dateOfFabrication')?.touched&&productForm.get('dateOfFabrication')!.hasError('required')" severity="error" text="Date of fabrication is required."></p-message>
      </div>
      <div style="display: flex; gap: 10px">
        <p-button [disabled]="productForm.invalid" type="submit" [rounded]="true">Submit</p-button>
        <p-button (click)="loadHome()" severity="danger" [rounded]="true">Cancel</p-button>
      </div>
    </form>
  </section>
  <section *ngIf="productState.error$ | async as error">
    <p-message severity="error" text="{{error}}">AAAA</p-message>
  </section>
</main>

